streamlit
llama-index
llama-index-llms-litellm
llama-index-embeddings-huggingface
llama-index-vector-stores-pinecone
litellm
pinecone-client>=3.0.0
llama-index-vector-stores-pinecone
sentence-transformers
transformers
torch
cloudscraper
html2text
beautifulsoup4
nest-asyncio

python-dotenv
